{{>NarrowBegin}}
<div class="container">
  <div class="row">
    <p class="col-md-12">
    Thanks for your help! An email has been sent to your inbox requesting permission to further email you (we don't want to spam a misspelled address!), and optional instructions on how to set up a user on our site. With an account, you can view your share statistics, get rewards, and find other creative ways to step into the battle for this nation.
    </p>
  </div>
  <div class="row">
    <p class="col-md-12">
    One other super-easy thing you can do is like our Facebook page. This will get you access to free gear giveaways that we put out exclusively on Facebook, and it will also give us the ability to introduce your unbelieving friends to the message of the Gospel.
    </p>
  </div>
</div>
{{>NarrowEnd}}