{{>NarrowBegin}}
<div class="container">
  <div class="row">
    <p class="col-md-12">
      You are living in the middle of a genocide.
    </p>
  </div>
  <div class="row">
    <p class="col-md-12">
    Every day, 2,500 to 3,000 children — little human beings made in the image of God — are murdered in the United States through surgical abortion. This carnage equates to roughly one World Trade Center bombing every single day in America, and does not include the nearly equal number of people murdered by in vitro fertilization practices, or the unmeasurable children dying by chemical abortion and hormonal birth control sold in your average grocery store. Genocide is not a concept reserved for poor nations in Africa, or performed only by Nazis in some far off historical narrative; it is the American way of life.
    </p>
  </div>
  <div class="row">
    <p class="col-md-12">
      When faced with this cloud of oppressed and dying victims, the Christians of our nation have failed to love our neighbors to the extent of self-sacrifice that Christ describes in the parable of the good Samaritan (Luk 10:25-37) and elsewhere (Mat 25:31-46). We find plenty of time to watch football, devote many hours of our average week to television and leisurely activities, but somehow can hardly spare a moment to help our neighbors dying in the greatest holocaust of human history.
    </p>
  </div>
  <div class="row">
    <p class="col-md-12">
      Sometimes people tolerate evil because we don't know what else can be done. Harriet Beecher Stowe wrote the following about slavery before it was abolished in America: "It was a sort of general impression upon [Harriet's] mind, as upon that of many humane people in those days, that the subject was so dark and painful a one, so involved in difficulty and obscurity, so utterly beyond human hope or help, that it was of no use to read, or think, or distress one's self about it." 
    </p>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">{{{lightbox "The Great Postal Campaign of 1835" "/images/content/core-1835-pamphlet-campaign.jpg"}}}</div>
  </div>
  <div class="row">
    <p class="col-md-12">
      In the face of this general discouragement however, the abolitionists of slavery put their trust in God to be faithful as they stepped out in obedience to His commandments. Though few in number, early in their history they made a great impact on the nation's conscience through a postal campaign that distributed abolitionist pamphlets across the slave states. The literature brought slavery to national prominence, so much so that mobs raided post offices, and the federal government banned abolitionist use of the postal service.
    </p>
  </div>
  <div class="row">
    <p class="col-md-12">
      Through this site, abolitionists of abortion are attempting a similar campaign - the mass-distribution of biblical ideas about our nation's most prominent modern sin. If you are a Christian who understands the precarious condition of our culture, and would like to do something on behalf of the children being murdered, helping with this campaign is a great way to begin.
    </p>
  </div>
  <div class="row">
    <p class="col-md-12">
      We have written a series of ten articles challenging the church, state, and culture on abortion. All you have to do is share them on social media, once a day, for ten days. Your friends will see them; some will read them, and a few will also participate in this campaign. As your efforts move forward, we'll keep track of how many lives you've impacted with biblical ideas, so that you can watch the fruit of your work as it grows.
    </p>
  </div>
  <div class="row">
    <p class="col-md-12">
     As a way of saying thanks, after three shares we'll send you a free audiobook copy of <em>Who Are These Abolitionists? A Biblical Defense of the Modern Call For Social Justice</em>. After five shares, you'll be eligible to win abolitionist gear (free t-shirts, dropcards etc.) reserved for those who bring the greatest impact on social media.
    </p>
  </div>
  <div class="row">
    <p class="col-md-12">
     Of course, as a Christian living in the middle of a holocaust, you shouldn't need any further motivation to help a neighbor in need than the love which Christ has given to us, for God and for our fellow man (Mat 22:35-40). Enter your email address in the form below, and we'll send these ten articles straight to your inbox. We look forward to working with you!
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#accordion icon="users" title="What do aborted children look like?"}}
        {{{lightbox "Law and Grace" "/images/content/core-law-and-grace.jpg"}}}
      {{/accordion}}
    </div>
  </div>
</div>
{{>NarrowEnd}}