<!-- banner start -->
<!-- ================ -->
<div class="banner dark-translucent-bg" style="background-image:url('/images/page-about-banner-1.jpg'); background-position: 50% 27%;">
  <!-- breadcrumb start -->
  <!-- ================ -->
  {{>PageComponentBreadcrumbs}}
  <!-- breadcrumb end -->
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8 text-center pv-20">
        <h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{{>PageHeaderTitle}}</h3>
        <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
        <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{{page.description}}</p>
      </div>
    </div>
  </div>
</div>
<!-- banner end -->