<!-- section start -->
<!-- ================ -->
<section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-1" style="background-position: 50% 60%;">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-6 text-center">
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon default-bg circle"><i class="fa fa-area-chart"></i></span>
        <h3><strong>Article Reads</strong></h3>
        <span class="counter" data-to="{{siteStats.articleReads}}" data-speed="5000">0</span>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon default-bg circle"><i class="fa fa-cloud-download"></i></span>
        <h3><strong>Book Downloads</strong></h3>
        <span class="counter" data-to="{{siteStats.bookDownloads}}" data-speed="5000">0</span>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon default-bg circle"><i class="fa fa-users"></i></span>
        <h3><strong>Abolitionists</strong></h3>
        <span class="counter" data-to="{{siteStats.abolitionists}}" data-speed="5000">0</span>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon default-bg circle"><i class="fa fa-share"></i></span>
        <h3><strong>Shares</strong></h3>
        <span class="counter" data-to="{{siteStats.shares}}" data-speed="5000">0</span>
      </div>
    </div>
  </div>
</div>
</section>
<!-- section end -->