<!-- section start -->
<!-- ================ -->
<section class="pv-40 stats padding-bottom-clear default-bg">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-6 text-center">
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon default-bg circle"><i class="fa fa-area-chart"></i></span>
        <h3><strong>Site Impact</strong></h3>
        <span class="counter" data-to="{{barStats.allHits}}" data-speed="5000">0</span>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon default-bg circle"><i class="fa fa-users"></i></span>
        <h3><strong>Abolitionists</strong></h3>
        <span class="counter" data-to="{{barStats.usersCreated}}" data-speed="5000">0</span>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon default-bg circle"><i class="fa fa-share"></i></span>
        <h3><strong>Your Direct Impact</strong></h3>
        <span class="counter" data-to="{{barStats.userShareHits}}" data-speed="5000">0</span>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 text-center">
      <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
        <span class="icon default-bg circle"><i class="fa fa-globe"></i></span>
        <h3><strong>Your Generational Impact</strong></h3>
        <span class="counter" data-to="{{barStats.userShareGenHits}}" data-speed="5000">0</span>
      </div>
    </div>
  </div>
</div>
</section>
<!-- section end -->